html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.cats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.cat-block {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.cat-info-btn {
  margin-top: 8px;
  border: none;
  background: none;
  cursor: pointer;
}

.description-block {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 24px 0;
  padding: 8px 0;
  border: 1px solid gray;
  border-radius: 3px;
}

.cat-img {
  width: 220px;
  height: 220px;
}

.animation {
  transition: 0.4s;
  transform: scale(1.4);
}
